<!-- <div class="step-indicator">
  <div class="step" [ngClass]="{'active': currentPage === 'prescription'}" (click)="goToStep('prescription')">
    <span class="step-number">1</span><br>
    <span class="step-label">Rezept</span>
  </div>
  <div class="step" [ngClass]="{'active': currentPage === 'measurements'}" (click)="goToStep('measurements')">
    <span class="step-number">2</span><br>
    <span class="step-label">Messen</span>
  </div>
  <div class="step" [ngClass]="{'active': currentPage === 'questionaire'}" (click)="goToStep('questionaire')">
    <span class="step-number">3</span><br>
    <span class="step-label">Medizinische  <br>Informationen</span>
  </div>
  <div class="step" [ngClass]="{'active': currentPage === 'questionaire'}" (click)="goToStep('questionaire')">
    <span class="step-number">4</span><br>
    <span class="step-label">Alltag & <br> Aktivität</span>
  </div>
  <div class="step" [ngClass]="{'active': currentPage === 'questionaire'}" (click)="goToStep('questionaire')">
    <span class="step-number">5</span><br>
    <span class="step-label">Bedürfnisse</span>
  </div>
</div> -->